<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MDACN</title>
    <script
      type="text/javascript"
      src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"
    ></script>
    <style type="text/css">
      #mynetwork {
        width: 1800px;
        height: 900px;
        border: 1px solid lightgray;
      }
      .slidecontainer {
        width: 100%;
      }
      #slider {
        width: 100%;
      }
    </style>
  </head>
  <body>
    <div id="mynetwork"></div>

    <div class="slidecontainer">
      <input type="range" min="$min_slider" max="$max_slider" value="$min_slider" class="slider" id="slider">
    </div>

    <script type="text/javascript" src="./data.js"></script>
    <script type="text/javascript" src="./main.js"></script>
  </body>
</html>
